{% extends 'base.html' %}

{% block content %}


        <div class="prod_con">
            {%for pro in  product %}
        <div class="product">
            <div >
               <a href="{{ pro.get_absolute_url }}"><img class="product_image" src="{{pro.image.url}}"></a>
                <div class="product_name">"{{pro.name}}"</div>
                <div class="product_weight">Вес: {{pro.weight}}</div>
                <div class="price">Цена: {{pro.price}}</div>
            </div>
        </div>
        {%endfor%}
    </div>

{% endblock %}